@page "/begivenheder"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject IHttpContextAccessor httpContextAccessor
@inject IUnionActivityData _db
@inject IRegistrationData _rdb
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <h3>Begivenheder</h3>
        @if (context.User.IsInRole("Administrators"))
        {
            <!--Admin view html-->
            <div class="container col-lg-12" style="margin: 20px;">
                <div class="row col-lg-12" style="">
                    <!--Box 1-->
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="row" style="margin-left: 10px; margin-right: 20px; padding-bottom: 10px;">
                                <div class="col-7" @onclick="() => GoToHome()" style="font-weight: bold;">
                                    &lt; Tilbage
                                </div>
                                <div class="col" style="">
                                    <button class="btn btn-primary" type="button" style="margin: 3px;" @onclick="GoToMakeUnionActivity">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Opret begivenhed
                                    </button>

                                    <button class="btn btn-primary" type="button" style="margin: 3px;" @onclick="GoToUnionActivityAdmin">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        Rediger begivenheder
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div style="background-color: #3846c0; border-radius: 10px; padding: 5px;">
                            <div style="padding: 1px; margin: 10px;">
                                <p class="h4" style="text-align: left; font-weight: bold; color: white;">Kommende begivenheder </p>
                            </div>

                            <!--TABLE-->
                            <div style="background-color: white; border-radius: 10px; margin: 10px;">
                                @if (unionActivities == null)
                                {
                                    <p>Loading...</p>
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                }
                                else
                                {
                                    <table class="table">
                                        <tbody class="table-group-divider">
                                            @foreach (var unionActivity in unionActivities)
                                            {
                                                if (unionActivity.IsVisible)
                                                {
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="col-md-4 col-lg-4" style="text-align: left;">@unionActivity.DateOfActivity.ToShortDateString()</div>
                                                            <div class="col-md-12 col-lg-12 h5" style="text-align: left;">
                                                                @unionActivity.Name
                                                                
                                                                
                                                                    
                                                                
                                                                    @if (unionActivity.Description.Length > 400)
                                                                    {
                                                                        
                                                                        <button class="btn btn-primary float-end" style="padding-left: 10px; margin-left:10px" @onclick="() => ShowUnionActivity(unionActivity.Id)">Se mere</button>
                                                                        <button style="padding-right: 10px;padding-left: 10px;" class="btn btn-primary float-end c-tooltip-left" data-c-tooltip="@unionActivity.Description.Substring(0, 400)....">
                                                                            <i class="oi oi-info"></i>
                                                                        </button>
                                                                        
                                                                    } 
                                                                    else 
                                                                    {
                                                                        <button class="btn btn-primary float-end" style="padding-left: 10px; margin-left:10px" @onclick="() => ShowUnionActivity(unionActivity.Id)">Se mere</button>
                                                                        <button style="padding-right: 10px;padding-left: 10px;" class="btn btn-primary float-end c-tooltip-left" data-c-tooltip="@unionActivity.Description">
                                                                            <i class="oi oi-info"></i>
                                                                        </button>
                                                                        
                                                                    }
                                                                    

                                                                <!--<button class="btn btn-primary float-end" @onclick="() => ShowUnionActivity(unionActivity.Id)"><i class="oi oi-info"></i></button> -->
                                                            </div>
                                                        </th>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!--Member view-->
            @if (currentUserName != null)
            {
                <p>@currentUserName</p>
            }

            <div class="container col-lg-12" style="margin: 20px;">
                <div class="row col-lg-12" style="">
                    <!--Box 1-->
                    <div class="col-md-12 col-lg-12">
                        <div class="col-md-12 col-lg-12" @onclick="() => GoToHome()" style="font-weight: bold;">
                            &lt; Tilbage
                        </div>
                        <div style="background-color: #3846c0; border-radius: 10px; padding: 5px;">
                            <div style="padding: 1px; margin: 10px;">
                                <p class="h4" style="text-align: left; font-weight: bold; color: white;">Kommende begivenheder </p>
                            </div>

                            <!--TABLE-->
                            <div style="background-color: white; border-radius: 10px; margin: 10px;">
                                @if (unionActivities == null)
                                {
                                    <p>Loading...</p>
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                }
                                else
                                {
                                    <table class="table">
                                        <tbody class="table-group-divider">
                                            @foreach (var unionActivity in unionActivities)
                                            {
                                                if (unionActivity.IsVisible)
                                                {
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="col-md-4 col-lg-4" style="text-align: left;">@unionActivity.DateOfActivity.ToShortDateString()</div>
                                                            <div class="col-md-12 col-lg-12 h5" style="text-align: left;">
                                                                @unionActivity.Name
                                                                
                                                                    <button class="btn btn-primary float-end" style="padding-left: 10px;" @onclick="() => ShowUnionActivity(unionActivity.Id)">Se mere</button>
                                                                


                                                                <!--<button class="btn btn-primary float-end" @onclick="() => ShowUnionActivity(unionActivity.Id)"><i class="oi oi-info"></i></button> -->
                                                            </div>
                                                        </th>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p>You're not logged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {

    private List<UnionActivityModel> unionActivities;
    private List<RegistrationModel> CurrentUserRegistrations;
    private RegistrationModel Delete;
    private string currentUserName;



    protected override async Task OnInitializedAsync()
    {
        unionActivities = await _db.OrderActivities("IsVisible DESC, DateOfActivity ASC");
    }

    private bool IsRegistered(int unionActivityId)
    {
        foreach (var registration in CurrentUserRegistrations)
        {
            if (registration.UnionActivityID == unionActivityId)
            {
                return true;
            }
        }
        return false;
    }

    void ShowUnionActivity(int id)
    {
        NavigationManager.NavigateTo($"begivenheder/{id}");
    }
    void GoToUnionActivityAdmin(){
        NavigationManager.NavigateTo($"/begivenheder/rediger_begivenheder");
    }


    void GoToRegistration(int id)
    {
        NavigationManager.NavigateTo($"begivenheder/tilmeld/{id}");
    }
    void GoToHome()
    {
        NavigationManager.NavigateTo($"/");
    }


    async void CancelRegistration(int unionActivityId)
    {

        await _rdb.CancelRegistration(currentUserName, unionActivityId);

        NavigationManager.NavigateTo("begivenheder", true);
    }
    void GoToMakeUnionActivity()
    {
        NavigationManager.NavigateTo("begivenheder/opretbegivenhed");
    }


}
