@page "/begivenheder/tilmeld/{id:int}"

@using DataAccessLibrary.Models
@using DataAccessLibrary
@using P3_Project.Models
@using Microsoft.AspNetCore.Identity;

@inject UserManager<IdentityUser> _UserManager
@inject NavigationManager NavigationManager
@inject IRegistrationData _db
@inject IUnionActivityData _ua
@inject IHttpContextAccessor httpContextAccessor

<AuthorizeView>
    <Authorized>
        <h3>Tilmeld @unionActivity.Name</h3>
        <div class="col-md-12 col-lg-12" @onclick="() => GoToUAOverview()" style="font-weight: bold; padding: 10px;">
            &lt; Tilbage
        </div>
        @if (unionActivity == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <div style="background-color: #3846c0; border-radius: 10px; padding: 5px;">
                <EditForm Context="Editform" Model="@DisplayRegistration" OnSubmit="() => RegistrationListToDB(SubmitRegistration(Id, userId, format, DisplayRegistration, DisplayRegistrations, unionActivity),_db)" class="">

                    <!--Don't know if we can use validation in this form, because the values that are required can be different from one activity to the other.-->

                    <!--General information-->
                    @if (unionActivity.Information1 != "")
                    {
                        <h4 style ="color:white;font-weight:600;padding-top:10px;">General Information</h4>
                        <div>
                            <label style="color:white;font-weight:600; padding:5px;" for="information1">@unionActivity.Information1</label>
                            <InputText id="information1" class="form-control form-style" @bind-Value="DisplayRegistration.Information1"></InputText>
                        </div>
                    }
                    @if (unionActivity.Information2 != "")
                    {
                        <div>
                            <label style="color:white;font-weight:600;padding:5px;" for="information2">@unionActivity.Information2</label>
                            <InputText id="information2" class="form-control form-style" @bind-Value="DisplayRegistration.Information2"></InputText>
                        </div>
                    }
                    @if (unionActivity.Information3 != "")
                    {
                        <div>
                            <label style="color:white;font-weight:600;padding:5px;" for="information3">@unionActivity.Information3</label>
                            <InputText id="information3" class="form-control form-style" @bind-Value="DisplayRegistration.Information3"></InputText>
                        </div>
                    }
                    @if (unionActivity.Information4 != "")
                    {
                        <div>
                            <label style="color:white;font-weight:600;padding:5px;" for="information4">@unionActivity.Information4</label>
                            <InputText id="information4" class="form-control form-style" @bind-Value="DisplayRegistration.Information4"></InputText>
                        </div>
                    }
                    @if (unionActivity.Information5 != "")
                    {
                        <div>
                            <label style="color:white;font-weight:600;padding:5px;" for="information5">@unionActivity.Information5</label>
                            <InputText id="information5" class="form-control form-style" @bind-Value="DisplayRegistration.Information5"></InputText>
                        </div>
                    }

                    <!--Plane information-->
                    @if(unionActivity.IsYearlyActivity)
                    {
                        <h4 style="color:white;font-weight:600; padding-top: 2%">Flyinformation</h4>
                        <div>
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="flightno">Fly reg.</label>
                                <InputText id="flightno" class="form-control form-style" @bind-Value="DisplayRegistration.FlightRegistrationNumber"></InputText>
                            </div>
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="type">Type</label>
                                <InputText id="type" class="form-control form-style" @bind-Value="DisplayRegistration.Type"></InputText>
                            </div>
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="mtow">MTOW</label>
                                <InputNumber id="mtow" class="form-control form-style" @bind-Value="DisplayRegistration.MaxTakeoffWeight"></InputNumber>
                            </div>
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="club">Klub</label>
                                <InputText id="club" class="form-control form-style" @bind-Value="DisplayRegistration.Club"></InputText>
                            </div>
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="startdestination">Startdestination</label>
                                <InputText id="startdestination" class="form-control form-style" @bind-Value="DisplayRegistration.StartDestination"></InputText>
                            </div>
                        </div>
                    }

                    <!--Personal information-->
                    @if (unionActivity.AllowGroupRegistration)
                    {
                        <h4 style ="color:white;font-weight:600; padding-top: 2%">Personlig Information</h4>
                        <div>
                            @foreach (var displayRegistration in DisplayRegistrations)
                            {
                                <h5 style="color:white; font-weight:500; padding-top: 1%">Person</h5>
                                @if (unionActivity.RequireName)
                                {
                                    <div>
                                        <label style="color:white;font-weight:600;padding:5px;" for="name">Navn</label>
                                        <InputText id="name" class="form-control form-style" @bind-Value="displayRegistration.Name"></InputText>
                                    </div>
                                }
                                @if (unionActivity.RequireEmail)
                                {
                                    <div>
                                        <label style="color:white;font-weight:600;padding:5px;" for="email">Email</label>
                                        <InputText id="email" class="form-control form-style" @bind-Value="displayRegistration.Email"></InputText>
                                    </div>
                                }
                                @if (unionActivity.RequirePhonenumber)
                                {
                                    <div>
                                        <label style="color:white;font-weight:600;padding:5px;" for="phonenumber">Telefonnummer</label>
                                        <InputText id="phonenumber" class="form-control form-style" @bind-Value="displayRegistration.Phonenumber"></InputText>
                                    </div>
                                }
                                @if(unionActivity.IsYearlyActivity)
                                {
                                    <div>
                                        <label style="color:white;font-weight:600;padding:5px;" for="participationtype">Deltagertype</label>
                                        <InputSelect id="participationtype" class="form-control" style="max-width: 10%; min-width: 100px;" @bind-Value="displayRegistration.ParticipantType">
                                            <option value="" selected>-vælg type-</option>
                                            <option value="PIC">PIC</option>
                                            <option value="COP">COP</option>
                                            <option value="PAX">PAX</option>
                                        </InputSelect>
                                    </div>
                                }
                                @if (unionActivity.PInformation1 != "")
                                {
                                    <div>
                                        <label style="color:white;font-weight:600;padding:5px;" for="pInformation1">@unionActivity.PInformation1</label>
                                        <InputText id="pInformation1" class="form-control form-style" @bind-Value="displayRegistration.PInformation1"></InputText>
                                    </div>
                                }
                                @if (unionActivity.PInformation2 != "")
                                {
                                    <div>
                                        <label style="color:white;font-weight:600;padding:5px;" for="pInformation2">@unionActivity.PInformation2</label>
                                        <InputText id="pInformation2" class="form-control form-style" @bind-Value="displayRegistration.PInformation2"></InputText>
                                    </div>
                                }
                                @if (unionActivity.PInformation3 != "")
                                {
                                    <div>
                                        <label style="color:white;font-weight:600;padding:5px;" for="pInformation3">@unionActivity.PInformation3</label>
                                        <InputText id="pInformation3" class="form-control form-style" @bind-Value="displayRegistration.PInformation3"></InputText>
                                    </div>
                                }
                                @if (unionActivity.PInformation4 != "")
                                {
                                    <div>
                                        <label style="color:white;font-weight:600;padding:5px;" for="pInformation4">@unionActivity.PInformation4</label>
                                        <InputText id="pInformation4" class="form-control form-style" @bind-Value="displayRegistration.PInformation4"></InputText>
                                    </div>
                                }
                                @if (unionActivity.PInformation5 != "")
                                {
                                    <div>
                                        <label style="color:white;font-weight:600;padding:5px;" for="pInformation5">@unionActivity.PInformation5</label>
                                        <InputText id="pInformation5" class="form-control form-style" @bind-Value="displayRegistration.PInformation5"></InputText>
                                    </div>
                                }
                            }


                            <div style="text-align: center; padding-top:15px;">
                                <button type="button" class="btn btn-light" @onclick="Add">
                                    <i class="fa-solid fa-user-plus"></i>
                                    Tilføj Deltager
                                </button>
                                @if(DisplayRegistrations.Count>1)
                                {
                                <button type="button" class="btn btn-light" @onclick="Remove">
                                    <i class="fa-solid fa-user-minus"></i>
                                    Fjern Deltager
                                </button>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <h4 style="color:white;font-weight:600; padding-top: 2%">Personlig Information</h4>
                        @if (unionActivity.RequireName)
                        {
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="name">Navn</label>
                                <InputText id="name" class="form-control form-style" @bind-Value="DisplayRegistration.Name"></InputText>
                            </div>
                        }
                        @if (unionActivity.RequireEmail)
                        {
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="email">Email</label>
                                <InputText id="email" class="form-control form-style" @bind-Value="DisplayRegistration.Email"></InputText>
                            </div>
                        }
                        @if (unionActivity.RequirePhonenumber)
                        {
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="phonenumber">Telefonnummer</label>
                                <InputText id="phonenumber" class="form-control form-style" @bind-Value="DisplayRegistration.Phonenumber"></InputText>
                            </div>
                        }
                        @if (unionActivity.IsYearlyActivity)
                        {
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="participationtype">Deltagertype</label>
                                <InputSelect id="participationtype" class="form-control" style="max-width: 10%; min-width: 100px;" @bind-Value="DisplayRegistration.ParticipantType">
                                    <option value="" selected>-vælg type-</option>
                                    <option value="PIC">PIC</option>
                                    <option value="COP">COP</option>
                                    <option value="PAX">PAX</option>
                                </InputSelect>
                            </div>
                        }
                        @if (unionActivity.PInformation1 != "")
                        {
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="pInformation1">@unionActivity.PInformation1</label>
                                <InputText id="pInformation1" class="form-control form-style" @bind-Value="DisplayRegistration.PInformation1"></InputText>
                            </div>
                        }
                        @if (unionActivity.PInformation2 != "")
                        {
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="pInformation2">@unionActivity.PInformation2</label>
                                <InputText id="pInformation2" class="form-control form-style" @bind-Value="DisplayRegistration.PInformation2"></InputText>
                            </div>
                        }
                        @if (unionActivity.PInformation3 != "")
                        {
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="pInformation3">@unionActivity.PInformation3</label>
                                <InputText id="pInformation3" class="form-control form-style" @bind-Value="DisplayRegistration.PInformation3"></InputText>
                            </div>
                        }
                        @if (unionActivity.PInformation4 != "")
                        {
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="pInformation4">@unionActivity.PInformation4</label>
                                <InputText id="pInformation4" class="form-control form-style" @bind-Value="DisplayRegistration.PInformation4"></InputText>
                            </div>
                        }
                        @if (unionActivity.PInformation5 != "")
                        {
                            <div>
                                <label style="color:white;font-weight:600;padding:5px;" for="pInformation5">@unionActivity.PInformation5</label>
                                <InputText id="pInformation5" class="form-control form-style" @bind-Value="DisplayRegistration.PInformation5"></InputText>
                            </div>
                        }
                    }

                    <div style="padding-top:30px">
                        <button type="button" class="btn btn-danger" @onclick="GoToUAOverview">Annuller</button>
                        <button type="submit" class="btn btn-light" @onclick="GoToUAOverview">Tilmeld</button>
                    </div>
                    <!-- <button type="button" @onclick="showNUmber">Nummer</button>
                    @if (test)
                    {
                    @Registration.Phonenumber
                    }-->
                </EditForm>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p>You're not logged in.</p>
    </NotAuthorized>
</AuthorizeView>






@code {

    //RegistrationModel Registration = new RegistrationModel();
    DisplayRegistrationModel DisplayRegistration = new DisplayRegistrationModel();

    [Parameter]
    public int Id { get; set; }
    //phone number formating
    string format = "## ## ## ##";
    public bool test = false;
    private string userId;

    public UnionActivityModel unionActivity = new UnionActivityModel();
    public List<UnionActivityModel> unionActivities = new List<UnionActivityModel>();
    public List<DisplayRegistrationModel> DisplayRegistrations = new List<DisplayRegistrationModel>();

   



    // Only works one time, can't convert back and forth
    //public void showNUmber()
    //{
    //    if (test)
    //    {
    //        test = false;
    //    }
    //    else
    //    {
    //        test = true;
    //        Registration.Phonenumber = Convert.ToInt64(Registration.Phonenumber).ToString(format);
    //    }
    //}


    protected override async Task OnInitializedAsync()
    {
        //DisplayRegistrations.Add(DisplayRegistration);
        unionActivities = await _ua.GetUnionActivities();
        unionActivity = await _ua.GetSingleUnionActivity((int)Id);
        DisplayRegistrations.Add(new DisplayRegistrationModel());
        userId = _UserManager.GetUserId(httpContextAccessor.HttpContext.User);
    }

    public void AddParticipant()
    {

    }

    public static List<RegistrationModel> SubmitRegistration(int Id, string userId, string format, DisplayRegistrationModel DisplayRegistration, List<DisplayRegistrationModel> DisplayRegistrations, UnionActivityModel unionActivity)
    {
        List<RegistrationModel> FinishedRegistrations = new List<RegistrationModel>(); ;

        string[] info = new string[] { "", "", "", "", "" };
        string[] pInfo = new string[] { "", "", "", "", "" };

        //put existing information fields in string array
        if (DisplayRegistration.Information1 != null) { info[0] = DisplayRegistration.Information1; }
        if (DisplayRegistration.Information2 != null) { info[1] = DisplayRegistration.Information2; }
        if (DisplayRegistration.Information3 != null) { info[2] = DisplayRegistration.Information3; }
        if (DisplayRegistration.Information4 != null) { info[3] = DisplayRegistration.Information4; }
        if (DisplayRegistration.Information5 != null) { info[4] = DisplayRegistration.Information5; }       

        if (unionActivity.AllowGroupRegistration) {
            foreach (var displayRegistration in DisplayRegistrations)
            {
                //put existing personal information fields in string array
                if (displayRegistration.PInformation1 != null) { pInfo[0] = displayRegistration.PInformation1; }
                if (displayRegistration.PInformation2 != null) { pInfo[1] = displayRegistration.PInformation2; }
                if (displayRegistration.PInformation3 != null) { pInfo[2] = displayRegistration.PInformation3; }
                if (displayRegistration.PInformation4 != null) { pInfo[3] = displayRegistration.PInformation4; }
                if (displayRegistration.PInformation5 != null) { pInfo[4] = displayRegistration.PInformation5; }

                RegistrationModel r = new RegistrationModel
                    {
                        UnionActivityID = Id,
                        UserId = userId,

                        //Plane information
                        FlightRegistrationNumber = DisplayRegistration.FlightRegistrationNumber,
                        Type = DisplayRegistration.Type,
                        MaxTakeoffWeight = DisplayRegistration.MaxTakeoffWeight,
                        Club = DisplayRegistration.Club,
                        StartDestination = DisplayRegistration.StartDestination,

                        //general information
                        Information1 = info[0],
                        Information2 = info[1],
                        Information3 = info[2],
                        Information4 = info[3],
                        Information5 = info[4],

                        //Personal information
                        Name = displayRegistration.Name,
                        Email = displayRegistration.Email,
                        Phonenumber = Convert.ToInt64(displayRegistration.Phonenumber).ToString(format),
                        ParticipantType = displayRegistration.ParticipantType,
                        PInformation1 = pInfo[0],
                        PInformation2 = pInfo[1],
                        PInformation3 = pInfo[2],
                        PInformation4 = pInfo[3],
                        PInformation5 = pInfo[4]

                    };

                //Adds each registration to returned list
                FinishedRegistrations.Add(r);

            }
        }
        else
        {
            //put existing personal information fields in string array
            if (DisplayRegistration.PInformation1 != null) { pInfo[0] = DisplayRegistration.PInformation1; }
            if (DisplayRegistration.PInformation2 != null) { pInfo[1] = DisplayRegistration.PInformation2; }
            if (DisplayRegistration.PInformation3 != null) { pInfo[2] = DisplayRegistration.PInformation3; }
            if (DisplayRegistration.PInformation4 != null) { pInfo[3] = DisplayRegistration.PInformation4; }
            if (DisplayRegistration.PInformation5 != null) { pInfo[4] = DisplayRegistration.PInformation5; }

            RegistrationModel r = new RegistrationModel
                {
                    UnionActivityID = Id,
                    UserId = userId,

                    //Plane information
                    FlightRegistrationNumber = DisplayRegistration.FlightRegistrationNumber,
                    Type = DisplayRegistration.Type,
                    MaxTakeoffWeight = DisplayRegistration.MaxTakeoffWeight,
                    Club = DisplayRegistration.Club,
                    StartDestination = DisplayRegistration.StartDestination,

                    //general information
                    Information1 = info[0],
                    Information2 = info[1],
                    Information3 = info[2],
                    Information4 = info[3],
                    Information5 = info[4],

                    //Personal information
                    Name = DisplayRegistration.Name,
                    Email = DisplayRegistration.Email,
                    Phonenumber = Convert.ToInt64(DisplayRegistration.Phonenumber).ToString(format),
                    ParticipantType = DisplayRegistration.ParticipantType,
                    PInformation1 = pInfo[0],
                    PInformation2 = pInfo[1],
                    PInformation3 = pInfo[2],
                    PInformation4 = pInfo[3],
                    PInformation5 = pInfo[4]

                };

            //Adds each registration to returned list
            FinishedRegistrations.Add(r);
        }

        return FinishedRegistrations;

        //NavigationManager.NavigateTo("/");
    }

    public static async Task RegistrationListToDB(List<RegistrationModel> FinishedRegistrations, IRegistrationData _db)
    {
        foreach(var registration in FinishedRegistrations)
        {
            await _db.InsertRegistration(registration);
        }

    }


    public void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }

        void GoToUAOverview()
    {
        NavigationManager.NavigateTo($"/begivenheder");
    }

    void Add()
    {
        DisplayRegistrations.Add(new DisplayRegistrationModel());

    }

    void Remove()
    {
        if(DisplayRegistrations.Count>1)
        {
        int count = DisplayRegistrations.Count;
        DisplayRegistrations.RemoveAt(count - 1);
        }
    }
}

