@page "/begivenheder/tilmeldinger/{id:int}"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IRegistrationData _db
@inject IUnionActivityData _udb
@inject NavigationManager NavigationManager


<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole("Administrators"))
        {
            <h3>ListOfParticipants</h3>

            <div class="col-md-12 col-lg-12" @onclick="() => GoToUAOverview()" style="font-weight: bold; padding: 10px;">
                &lt; Tilbage
            </div>

            @if (Registrations == null && unionActivity == null)
            {
                <p>Loading...</p>
            }
            else if (unionActivity != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            @if (unionActivity.IsYearlyActivity)
                            {
                                <th @onclick="() => sortBy(0, (int)Id)">Fly reg.</th>
                                <th @onclick="() => sortBy(1, (int)Id)">Type</th>
                                <th @onclick="() => sortBy(2, (int)Id)">MTOW</th>
                                <th @onclick="() => sortBy(3, (int)Id)">Klub</th>
                                <th @onclick="() => sortBy(4, (int)Id)">Startdestination</th>
                                <th @onclick="() => sortBy(5, (int)Id)">Deltager type</th>
                            }
                            @if (unionActivity.RequireName)
                            {
                                <th @onclick="() => sortBy(6, (int)Id)">Navn</th>
                            }
                            @if (unionActivity.RequireEmail)
                            {
                                <th @onclick="() => sortBy(7, (int)Id)">E-mail</th>
                            }
                            @if (unionActivity.RequirePhonenumber)
                            {
                                <th @onclick="() => sortBy(8, (int)Id)">Mobilnummer</th>
                            }
                            @foreach (var infoField in infoFields)
                            {
                                <th>@infoField.Name</th>
                            }
                            @foreach (var pInfoField in pInfoFields)
                            {
                                <th>@pInfoField.Name</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var registration in Registrations)
                        {
                            <tr>
                                @if (unionActivity.IsYearlyActivity)
                                {
                                    <td>@registration.FlightRegistrationNumber</td>
                                    <td>@registration.Type</td>
                                    <td>@registration.MTOW</td>
                                    <td>@registration.Club</td>
                                    <td>@registration.StartDestination</td>
                                    <td>@registration.ParticipantType</td>
                                }
                                @if (unionActivity.RequireName)
                                {
                                    <td>@registration.Name</td>
                                }
                                @if (unionActivity.RequireEmail)
                                {
                                    <td>@registration.Email</td>
                                }
                                @if (unionActivity.RequirePhonenumber)
                                {
                                    <td>@registration.Phonenumber</td>
                                }
                                @if (unionActivity.Information1 != "")
                                {
                                    <td>@registration.Information1</td>
                                }
                                @if (unionActivity.Information2 != "")
                                {
                                    <td>@registration.Information2</td>
                                }
                                @if (unionActivity.Information3 != "")
                                {
                                    <td>@registration.Information3</td>
                                }
                                @if (unionActivity.Information4 != "")
                                {
                                    <td>@registration.Information4</td>
                                }
                                @if (unionActivity.Information5 != "")
                                {
                                    <td>@registration.Information5</td>
                                }
                                @if (unionActivity.PInformation1 != "")
                                {
                                    <td>@registration.PInformation1</td>
                                }
                                @if (unionActivity.PInformation2 != "")
                                {
                                    <td>@registration.PInformation2</td>
                                }
                                @if (unionActivity.PInformation3 != "")
                                {
                                    <td>@registration.PInformation3</td>
                                }
                                @if (unionActivity.PInformation4 != "")
                                {
                                    <td>@registration.PInformation4</td>
                                }
                                @if (unionActivity.PInformation5 != "")
                                {
                                    <td>@registration.PInformation5</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            <p>You do not have access to this page.</p>
        }
    </Authorized>
    <NotAuthorized>
        <p>You're not logged in.</p>
    </NotAuthorized>
</AuthorizeView>





@code {
    [Parameter]
    public int Id { get; set; }

    private int NumberOfInformation = 0;
    private int NumberOfPInformation = 0;
    private int infoCount;
    private int pInfoCount;



    private UnionActivityModel unionActivity;

    private string[] staticColumns = new string[] { "FlightRegistrationNumber", "Type", "MTOW", "Club", "StartDestination", "ParticipantType", "Name", "Email", "Phonenumber" };
    private string column = "FlightRegistrationNumber";


    public List<InformationFieldModel> infoFields = new List<InformationFieldModel>();
    public List<InformationFieldModel> pInfoFields = new List<InformationFieldModel>();


    private List<RegistrationModel> Registrations = new List<RegistrationModel>();

    protected override async Task OnInitializedAsync()
    {
        
        Registrations = await _db.OrderRegistrations((int)Id, column);
        unionActivity = await _udb.GetSingleUnionActivity((int)Id);
        LoadInformationFields();

    }

    async void sortBy(int index, int ID)
    {
        column = staticColumns[index];
        Registrations = await _db.OrderRegistrations((int)Id, column);
        //NavigationManager.NavigateTo($"/begivenheder/tilmeldinger/{(int)Id}", true);
    }

    void GoToUAOverview()
    {
        NavigationManager.NavigateTo($"/begivenheder/rediger_begivenheder");
    }

    void LoadInformationFields()
    {
        if (unionActivity.Information1 != "")
        {
            infoFields.Add(new InformationFieldModel(unionActivity.Information1));
        }
        if (unionActivity.Information2 != "")
        {
            infoFields.Add(new InformationFieldModel(unionActivity.Information2));
        }
        if (unionActivity.Information3 != "")
        {
            infoFields.Add(new InformationFieldModel(unionActivity.Information3));
        }
        if (unionActivity.Information4 != "")
        {
            infoFields.Add(new InformationFieldModel(unionActivity.Information4));
        }
        if (unionActivity.Information5 != "")
        {
            infoFields.Add(new InformationFieldModel(unionActivity.Information5));
        }
        if (unionActivity.PInformation1 != "")
        {
            pInfoFields.Add(new InformationFieldModel(unionActivity.PInformation1));
        }
        if (unionActivity.PInformation2 != "")
        {
            pInfoFields.Add(new InformationFieldModel(unionActivity.PInformation2));
        }
        if (unionActivity.PInformation3 != "")
        {
            pInfoFields.Add(new InformationFieldModel(unionActivity.PInformation3));
        }
        if (unionActivity.PInformation4 != "")
        {
            pInfoFields.Add(new InformationFieldModel(unionActivity.PInformation4));
        }
        if (unionActivity.PInformation5 != "")
        {
            pInfoFields.Add(new InformationFieldModel(unionActivity.PInformation5));
        }
        NumberOfInformation = infoFields.Count;
        NumberOfPInformation = pInfoFields.Count;
    }
}
